:root {
    --blue: #277DF5;
    --red: #F52727;
    --green: #1E6E2D;
    --yellow: #E1ED4A;
    --light-blue: #4AE2ED;
    --black: #000000;
    --white: #FFFFFF;
    --orange: #FF7700;
    --brown: #8A4203;
    --primary-background: #6D8A66;
    --secondary-background: #B5927B;
    --tertiary-background: #0096B0;
    --primary-foreground: #F7F7F7;
    --secondary-foreground: #000000;
    --tertiary-foreground: #294D3A;
}

#header {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    font-size: 1.2rem
}

a {
    padding: 15px;
}

a:hover {
  background-color: lightgrey;
  font-size: 18px;
}

main {
    width: 800px;    
    margin: 0 auto;   
    background-color: #f0f0f0;
    padding: 20px;     
    box-sizing: border-box;   
    }

p {
    display: flex;
    justify-content: center;
    align-items: center;
    }
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
}

#navigation{
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#footer {
    flex-wrap: nowrap;
}

@media (max-width: 800px) {
    p {
        font-size: 18px;
    }
    main {
        width: 100%;
        padding: 0px;
    }
}
@media (max-width: 520px) {
    #navigation {
        flex-direction: column;
        align-items: center;
    }
    p {
        font-size: 20px;
        padding: 5px;
    }
    a {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 2rem;
    }
}

summary {
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    background: #eee;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after{
    content: "➕";
    float: right;
    transition: transform 0.3s ease;
}

details[open] summary::after {
    content: "➖";
}